html, body, main, div, h1, h2, h3 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1rem;
}
main#promenade {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
main#promenade h1 {
    font-size: medium;
    margin-bottom: 0.5rem;
}
main#promenade h2 {
    font-size: small;
    margin-bottom: 3rem;
}

main#promenade div {
    width: 80vw;
}

.quadro {
    border: 5px double #000;
    font-size: 4vw;
    line-height: 2;
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: auto;
    width: 80%;
}
.nome {
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
}


@media (min-width: 321px) {

    main#promenade {
        align-items: initial;
        justify-content: left;
    }
    main#promenade h1 {
        font-size: xx-large;
    }
    main#promenade h2 {
        font-size: large;
    }

    .nome {
        text-align: left;
    }
}